<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger level="DEBUG">
  </logger>

  <logger level="TRACE">
  </logger>

</configuration>
